* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}

html {
  font-size: 19px;
}

body {
  font-family: sans-serif;
  height: 100vh;
  color: rgb(34, 34, 34);
  background-image: linear-gradient(to bottom right, #352c36, #bf2e34);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  position: relative;
  width: 90%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0 3em 5em rgba(0, 0, 0, 0.25);
  border-radius: 0.5em;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
  max-width: 50%;
}

/* ELEMENTS */
.name {
  position: relative;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-bottom: 1em;
  font-weight: normal;
  white-space: nowrap;
  margin-top: 2em;
}

.score {
  color: #c7365f;
  margin-bottom: auto;
  font-size: 1.5em;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 700;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  padding: 2em;
  text-align: center;
  margin-bottom: 2em;
}

.current-label {
  margin-bottom: 1em;
  color: #ddd;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  padding: 0.7em 2.5em;
  border-radius: 50em;
  box-shadow: 0 1.75em 3.5em rgba(0, 0, 0, 0.1);
}

.btn--new {
  top: 5%;
}
.btn--roll {
  bottom: 25%;
}
.btn--hold {
  bottom: 15%;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 5em;
  box-shadow: 0 2em 5em rgba(0, 0, 0, 0.2);
  border-radius: 10%;
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 17px;
  }
  .player {
    width: 50%;
  }
  main {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .btn {
    padding: 0.7em 1.5em;
  }
  .current {
    padding: 1.5em;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 15px;
  }
  main {
    width: 100%;
  }
  .btn {
    padding: 0.7em 1em;
  }
  .current {
    padding: 1em;
  }
}
